.raleway-font {
    font-family: "Raleway", sans-serif;

}
.inter-font {
    font-family: "Inter", sans-serif;

}

.card-body :where(p) {
    flex-grow: 0;
}


.select-seat-container div{
    font-size: 18px ;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color: #03071299;
}
.border-top{
    border-top: dashed 2px #FFFFFF4D;
}

.discount-container div{
    font-size: 18px ;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color: #03071299;
}
