.raleway-font {
    font-family: "Raleway", sans-serif;

}
.inter-font {
    font-family: "Inter", sans-serif;

}

.card-body :where(p) {
    flex-grow: 0;
}

/* .card.image-full {
    background-color: none !important;
    
} */